<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pingjinsite.yuanshe.message.mybatis.mapper.CommentMessageMapper" >

	<select id="list" resultType="cn.pingjinsite.yuanshe.message.mybatis.vo.CommentMessageVo">
		SELECT
			`comment`.id AS id,
			`comment`.content AS content,
			DATE_FORMAT(
				`comment`.time,
				'%Y-%m-%d %H:%i:%s'
			) AS time,
			blog.id AS blogId,
			blog.title AS title,
			blog.thumbnail AS thumbnail,
			user_info.user_id AS userId,
			user_info.nickname AS nickname,
			user_info.head_img AS headImg,
			user_info.occupation AS occupation,
			user_info.company AS company
		FROM
			blog
		INNER JOIN `comment`
		INNER JOIN user_info ON blog.id = `comment`.blog_id
		AND `comment`.from_id = user_info.user_id
		WHERE
			blog.user_id = #{userId}
		AND `comment`.type = 0
		AND `comment`.`status` = 1
		ORDER BY `comment`.time DESC
		LIMIT #{start},#{pageSize}
	</select>
	
	<select id="listCount" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			blog
		INNER JOIN `comment`
		INNER JOIN user_info ON blog.id = `comment`.blog_id
		AND `comment`.from_id = user_info.user_id
		WHERE
			blog.user_id = #{userId}
		AND `comment`.type = 0
		AND `comment`.`status` = 1
	</select>
	
	<update id="deleteCommentMessage">
		UPDATE `comment`
		SET `status` = 0
		WHERE
			id = #{id}
	</update>
</mapper>