<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pingjinsite.yuanshe.message.mybatis.mapper.LetterMapper" >
	
	<resultMap type="cn.pingjinsite.yuanshe.message.mybatis.vo.LetterVo" id="letterResultMap">
		<id property="id" column="id"/>
		<result property="content" column="content"/>
		<result property="createtime" column="createtime"/>
		<association property="sender" javaType="cn.pingjinsite.yuanshe.usercenter.mybatis.vo.UserVo">
			<id property="id" column="senderId"/>
			<result property="nickname" column="senderNickname"/>
			<result property="headImg" column="senderHeadImg"/>
		</association>
		<association property="receiver" javaType="cn.pingjinsite.yuanshe.usercenter.mybatis.vo.UserVo">
			<id property="id" column="receiverId"/>
			<result property="nickname" column="receiverNickname"/>
			<result property="headImg" column="receiverHeadImg"/>
		</association>
	</resultMap>
	
	<sql id="commonSql">
		SELECT
			letter.id AS id,
			user_info.user_id AS senderId,
			user_info.nickname AS senderNickname,
			user_info.head_img AS senderHeadImg,
			_t.user_id AS receiverId,
			_t.nickname AS receiverNickname,
			_t.head_img AS receiverHeadImg,
			letter.content AS content,
			DATE_FORMAT(
				letter.createtime,
				'%Y-%m-%d'
			) AS createtime
		FROM
			user_info
		JOIN letter
		JOIN user_info AS _t ON user_info.user_id = letter.sender
		AND letter.receiver = _t.user_id
	</sql>
	
	<insert id="sendLetter">
		INSERT INTO letter (
			sender,
			receiver,
			content,
			`status`,
			`read`,
			createtime
		)
		VALUE
			(
				#{ownerId},
				#{userId},
				#{content},
				1,
				1,
				NOW()
			)
	</insert>

	<select id="listSenderLetter" resultMap="letterResultMap">
		<include refid="commonSql"></include>
		WHERE
			letter.sender = #{userId}
		AND letter.`status` = 1
		ORDER BY
			letter.createtime DESC
		LIMIT #{start},
		 #{pageSize}
	</select>
	
	<select id="listReceiverLetter" resultMap="letterResultMap">
		<include refid="commonSql"></include>
		WHERE
			letter.receiver = #{userId}
		AND letter.`read` = 1
		ORDER BY
			letter.createtime DESC
		LIMIT #{start},
		 #{pageSize}
	</select>
	
	<select id="listSenderLetterCount" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			user_info
		JOIN letter
		JOIN user_info AS _t ON user_info.user_id = letter.sender
		AND letter.receiver = _t.user_id
		WHERE
			letter.sender = #{userId}
		AND letter.`status` = 1
	</select>
	
	<select id="listReceiverLetterCount" resultType="java.lang.Integer">
		SELECT
			COUNT(*)
		FROM
			user_info
		JOIN letter
		JOIN user_info AS _t ON user_info.user_id = letter.sender
		AND letter.receiver = _t.user_id
		WHERE
			letter.receiver = #{userId}
		AND letter.`read` = 1
	</select>
	
	<update id="updateLetterStatus">
		UPDATE letter
		SET `status` = 0
		WHERE
			id = #{id}
	</update>
	
	
	<update id="updateLetterRead">
		UPDATE letter
		SET `read` = 0
		WHERE
			id = #{id}
	</update>
</mapper>