<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.pingjinsite.yuanshe.index.mybatis.mapper.LoginMapper" >
	
	<select id="getUserAccount" resultType="cn.pingjinsite.yuanshe.usercenter.mybatis.vo.UserVo">
		SELECT
			`user`.id,
			`user`.identify,
			user_extra.password_text AS passwordText,
			`user`.`password`,
			`user`.type,
			user_info.nickname,
			user_info.sex,
			user_info.head_img AS headImg,
			user_info.occupation,
			user_info.company,
			user_info.address,
			user_info.synopsis
		FROM
			`user`
		INNER JOIN user_extra ON `user`.id = user_extra.user_id
		INNER JOIN user_info ON `user`.id = user_info.user_id
		WHERE
			identify = #{account}
		AND type = 'phone'
		AND `password` = #{password}
	</select>
  	
  	<select id="getOauthAccount" resultType="cn.pingjinsite.yuanshe.usercenter.mybatis.vo.UserVo">
  		SELECT
			`user`.id,
			`user`.identify,
			`user`.`password`,
			`user`.type,
			user_info.nickname,
			user_info.sex,
			user_info.head_img AS headImg,
			user_info.occupation,
			user_info.company,
			user_info.address,
			user_info.synopsis
		FROM
			`user`
		INNER JOIN user_info ON `user`.id = user_info.user_id
		WHERE
			identify = #{uid}
		AND type = #{type}
  	</select>
</mapper>